.title{
    color: white;
}
a{
    color: rgb(0, 174, 255);
}
body{
    background: url(https://t4.ftcdn.net/jpg/04/61/47/03/360_F_461470323_6TMQSkCCs9XQoTtyer8VCsFypxwRiDGU.jpg);
    background-size: cover;
    text-align: center;
}
a:hover{
    color:blue;
    font-size: 18px;
}
div{
    text-align: center;
}